body {
	font-size: 120%;
}
h2 {
	margin: 2%;
}
audio {
	padding: 1% 2%;
	width: 100%;
	box-sizing: border-box;
}
#songList {
	margin: 1% 2%;
}
#songList tr {
	padding-bottom: 2px;
}
#songList td {
	padding-right: 10px;
}
.duration {
	color: grey;
	text-align: right;
}
.dlIcon {
	border-radius: 10px;
	height: 16px;
}
.dlIcon:hover, .playA.active {
	background-color: #c1dfff;
}
.playA {
	cursor: pointer;
	padding: 2px;
}
.playA:hover {
	text-decoration: underline;
}
